*{
  background-color: #c8f787;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  width: 100px;
  border-radius: 5%;
}

.head {
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.imageWidth {
  max-width: 200px;
}

.noList {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
}
